.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color:#f4f4f4;
  margin: 5% auto;
  width:40%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
  font-family: 'Bungee Hairline', sans-serif;
}


.modal-header h2, .modal-footer h3{
  margin:0;
}

.modal-header{
  background:Black;
  padding:15px;
  color:#fff;
}

.modal-body{
  padding:10px 20px;
}

.modal-footer{
  padding:10px;
  color:#fff;
  text-align: center;
}

.avsluttBtn{
  color:white;
  float: right;
  font-size:30px;

}


@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}
.loggInnKnapp {
    background-color: #a3a3a3;
    width: 100%;
    color: black;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */

    } /* Gray */
.loggInnKnapp:hover {
  background: #ddd;
}

.RegKnapp {
    background-color: #a3a3a3;
    width: 100%;
    color: black;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */

    } /* Gray */
.RegKnapp:hover {
  background: #ddd;
}
