header {
  background: black;
  color: white;
}

nav {
  background: black;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 10px;
}

nav li:not(:first-child)::before {
  content: "//";
  margin-right: 20px;
  color: darkorange;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-shadow: 10px;
}
